<!doctype html>
<title>Flask application</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <a href="/">Home</a> 
  <a href="/categorias/">     Categorias</a> 
  <a href="/cerimonias/">     Cerimónias</a> 
  <a href="/classes/">     Classes</a> 
  <a href="/filmes/">     Filmes</a> 
  <a href="/nomeacoes/">     Nomeações</a>
  <a href="/nomeados/">     Nomeados</a>
</nav>
<section class="content">
  {% block content %}{% endblock %}
</section>
<footer>
  <p>Diego Nóbrega | Filipe Zheng | João Azevedo</p>
</footer>
