{% extends 'base.html' %}
{% block content %}
<h1>Categorias</h1>
<table>
    <tr>
        <th><b>Classe</b></th>
        <th><b>Categoria</b></th>
        <th><b>Nome Canónico</b></th>
    </tr>
    {% for cat in categorias %}
    <tr>
        <td><a href='/classes/{{cat.ClassName}}'>{{ cat.ClassName }}</a></td>
        <td><a href='/categorias/{{cat.CategoryName}}/'>{{ cat.CategoryName}}</a></td>
        <td>{{ cat.CanonicalCategory }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}