{% extends 'base.html' %}
{% block content %}
<h1>Nomeados</h1>

<form name = "nom" action = "javascript:window.open('/nomeados/filter/'+document.forms['nom'].elements['name'].value+'&&/','_self')">
   <input name="name" placeholder="Pesquisar por nome..."/> <input type="submit" value="Procurar"/>
</form>
<br>
<a href='{{bref0}}'><button>{{button0}}</button></a>
<a href='{{bref1}}'><button>{{button1}}</button></a>
<br><br>
<h>{{Text1}}</h>
<br>
<h>{{Text0}}</h>
<table>
    <tr>
        <th><b>ID</b></th>
        <th><b>Nome</b></th>
    </tr>
    {% for n in nomeados %}
    <tr>
        <td><a href='/nomeados/{{n.NomineeId}}/'>{{ n.NomineeId }}</a></td>
        <td>{{ n.Name }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
