{% extends 'base.html' %}
{% block content %}
<h1>Nomeações</h1>

<br>
<form name = "nom" action = "javascript:window.open('/nomeacoes/'+document.forms['nom'].elements['name'].value+'&&/','_self')">
   <input name="name" placeholder="Pesquisar por nome..."/> <input type="submit" value="Procurar"/>
</form>
<br>
<a href='{{bref}}'><button>{{button}}</button></a>
<br><br>
<h>{{Text.Text1}}</h>
<br>
<h>{{Text.Text0}}</h>
<table>
    <tr>
        <th><b>ID</b></th>
        <th><b>Classe</b></th>
        <th><b>Cerimónia</b></th>
        <th><b>Categoria</b></th>
        <th><b>Nome da Nomeação</b></th>
        <th><b>Vencedor</b></th>
        <th><b>Detalhe</b></th>
        <th><b>Nota</b></th>
        <th><b>Citação</b></th>
    </tr>

    {% for nom in nomeacoes %}
    <tr>
        <td><a href='/nomeacoes/{{nom.NomId}}/'>{{ nom.NomId }}</a></td>
        <td><a href='/classes/{{nom.ClassName}}'>{{ nom.ClassName }}</a></td>
        <td><a href='/cerimonias/{{nom.CeremonyNumber}}/'>{{ nom.CeremonyNumber }}</a></td>
        <td><a href='/categorias/{{nom.CategoryName}}/'>{{ nom.CategoryName }}</a></td>
        <td>{{ nom.NominationName }}</td>
        <td>{{ nom.Winner }}</td>
        <td>{{ nom.Detail }}</td>
        <td>{{ nom.Note }}</td>
        <td>{{ nom.Citation }}</td>
    </tr>
    {% endfor %}
</table>


{% endblock %}

